@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');


:root{
    --green:#00ff99;
    --blue:#008cff;
    --bg:#03050a;
    --glass:rgba(255,255,255,.06);
    --border:rgba(0,255,150,.3);
}



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



html{
    background:#03050a;
}



body{

    position:relative;

    font-family:'Orbitron',sans-serif;

    background:var(--bg);

    color:white;

    min-height:100vh;

    overflow-x:hidden;

}






/* =========================
   BACKGROUND
========================= */



body::before{

    content:"";

    position:fixed;

    inset:-50%;


    background:

    radial-gradient(
        circle at 20% 20%,
        rgba(0,255,150,.25),
        transparent 35%
    ),

    radial-gradient(
        circle at 80% 30%,
        rgba(0,140,255,.25),
        transparent 35%
    ),

    radial-gradient(
        circle at 50% 90%,
        rgba(170,0,255,.2),
        transparent 40%
    );


    animation:bgMove 20s infinite alternate;


    z-index:0;

    pointer-events:none;

}






body::after{


    content:"";


    position:fixed;


    inset:0;



    background-image:


    linear-gradient(
        rgba(0,255,150,.05) 1px,
        transparent 1px
    ),


    linear-gradient(
        90deg,
        rgba(0,255,150,.05) 1px,
        transparent 1px
    );



    background-size:50px 50px;



    animation:gridMove 20s linear infinite;



    z-index:1;



    pointer-events:none;


}






@keyframes bgMove{

    to{

        transform:translate(5%,8%);

    }

}





@keyframes gridMove{

    to{

        background-position:0 50px;

    }

}






/* Alles über Hintergrund */

header,
.hero,
.stats,
.featured,
.filters,
#grid,
footer,
#adminBox,
#loader{

    position:relative;

    z-index:2;

}