/* =========================
   PRODUCT GRID
========================= */

#grid{

    max-width:1400px;

    margin:auto;

    padding:30px;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}



/* =========================
   CARDS
========================= */


.card{

    background:rgba(255,255,255,.06);

    backdrop-filter:blur(18px);

    border:1px solid rgba(0,255,150,.3);

    border-radius:25px;

    overflow:hidden;

    position:relative;

    transition:.4s;

}



.card:hover{

    transform:translateY(-12px) scale(1.03);

    border-color:#00ff99;

    box-shadow:

    0 0 35px rgba(0,255,150,.45);

}




.card img{

    width:100%;

    height:230px;

    object-fit:cover;

    display:block;

    transition:.5s;

}



.card:hover img{

    transform:scale(1.08);

}





.card h3{

    padding:20px 20px 10px;

    color:#00ff99;

    font-size:20px;

}



.card p{

    padding:0 20px 15px;

    color:#ddd;

    line-height:1.5;

}



.card small{

    display:block;

    padding:0 20px;

    color:#888;

}




.btn{

    display:block;

    margin:20px;

    padding:14px;

    text-align:center;

    border:1px solid #00ff99;

    border-radius:15px;

    color:#00ff99;

    text-decoration:none;

    transition:.3s;

}



.btn:hover{

    background:#00ff99;

    color:#000;

    box-shadow:0 0 25px #00ff99;

}